$darkBlue: hsl(233, 47%, 7%);
$desaturedBlue: hsl(244, 38%, 16%);
$softViolet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$transparenteWhite75: hsla(0, 0%, 100%, 0.75);
$transparenteWhite60: hsla(0, 0%, 100%, 0.6);
$linkColor: hsl(228, 45%, 44%);
