@import 'variables';
@import 'utilities';

@include reset;

html {
  @include center;
}

.card {
  @include center;
  @include card-size;
}

.informations {
  @include info-card;

  &__title {
    font-size: 36px;

    span {
      color: $softViolet;
    }
  }

  &__text {
    color: $transparenteWhite60;
    line-height: 160%;
    padding: 25px 0;
  }

  &__datas {
    display: flex;
    padding: 60px 50px 0 0;
    justify-content: space-between;

    span {
      .datas {
        color: $white;
        font-size: 24px;
        font-weight: 700;
      }

      .sub-title {
        @include sub-title;
      }
    }
  }
}

.banner {
  width: 50%;
  height: 100%;
  @include web-banner;

  img {
    @include imgColor;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 10px;
}
.attribution a {
  color: $linkColor;
}
